
/* header */

header{
    background-color: #0020F4;
    padding: 27px 100px 270px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
}
.skyhouse-logo{
    max-width: 115px;
    max-height: 65px;
    width: 100%;
    height: 100%;
}
li a{
    font-size: 16px;
    color: #FFFFFF;
    font-family: normal;
}
.about-btn{
    margin-left: 43px;
    margin-right: 53px;
}
.project-btn{
    margin-left: 45px;
    margin-right: 42px;
}
ul button{
    color: #171717;
    font-size: 16px;
    background-color: #FFFFFF;
    padding: 18px 43px 18px 36px;
    border: none;
    border-radius: 28px;
    margin-left: 42px;
    cursor: pointer;
}


/* section */

section{
	max-width: 1195px;
    width: 100%;
	margin: auto;
	margin-top: -173px;
}
.sec-main-img{
    width: 100%;
}
section img{
    border-radius: 15px;
}
h1{
    color: #171717;
    font-size: 28px;
    font-family: bold;
    margin-top: 30px;
    margin-bottom: 60px;
}
.helping-images img{
    max-width: 219px;
    max-height: 219px;
    width: 100%;
    height: 100%;
}
.helping-images{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 60px;
}
section p{
    margin: auto;
    max-width: 910px;
    width: 100%;
    color: #171717;
    font-size: 16px;
    font-family: normal;
    margin-bottom: 18px;
}
section button{
    display: block;
    margin: auto;
    margin-top: 58px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: bold;
    background-color: #0A22F4;
    border: none;
    border-radius: 28px;
    padding: 18px 77px 18px 57px;
    cursor: pointer;
}
button:hover{
    font-size: 105%;
}
/* footer */

footer{
    margin-top: 180px;
	background-color: #0A22F4;
	padding: 275px 100px 40px 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "h2 ."
    "p registration"
    "contact registration"
    "ending ending";
}
/* contact side */
h2{
	font-size: 32px;
	color: #FFFFFF;
	font-family: "bold";
    grid-area: h2;
}
.contact-side{
    grid-area: contact;
}
footer p{
	font-size: 16px;
	max-width: 463px;
	margin-top: 30px;
	color: #FFFFFF;
	font-family: "normal";
    grid-area: p;
}
iframe{
	border-radius: 15px;
	max-width: 463px;
	max-height: 197px;
	margin-bottom: 92px;
    box-shadow: -10px 10px #FFFFFF;
}
.footer-buttons{
	display: flex;
	align-items: center;
}
.mobile, .email{
	display: flex;
	align-items: center;
	font-family: "bold";
}
.mobile img, .email img{
	background-color: #FFFFFF;
	padding: 22px;
	margin-right: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
.mobile a, .email a{
	font-size: 22px;
	color: #FFFFFF;
}
.a-mobile{
	margin-right: 98px;
}
/* registration side */
.registration-side{
    max-width: 463px;
    width: 100%;
    margin-left: auto;
    margin-top: 60px;
    grid-area: registration;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
}
input, textarea{
    color: #FFFFFF;
    font-size: 18px;
    font-family: normal;
    height: 41px;
    margin-top: 8px;
    margin-bottom: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    outline: transparent;
}
textarea{
    height: 121px;
    resize: none;
}
footer button{
    font-size: 16px;
    color: #171717;
    background-color: #FFFFFF;
    font-family: bold;
    max-width: 151px;
    border: none;
    border-radius: 28px;
    padding: 18px 45px 18px 36px;
    margin-left: auto;
}
/* ending */
.ending{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 165px;
	padding-top: 40px;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	font-family: "bold";
    grid-area: ending;
}
.copyright{
	font-size: 16px;
}
.made-in, .made-out{
	font-size: 13px;
}
.made-with{
    display: flex;
    align-items: center;
}
.heart-logo{
	width: 26px;
	height: 26px;
	margin-left: 15px;
	margin-right: 10px;
}
.smartweb-icon{
	width: 121px;
	height: 35px;
	margin-left: 30px;
}
.right-side{
	display: flex;
	align-items: center;
}
.brgr-menu{
    display: none;
}

/* media */

@media (width <= 1024px) {
    /* header */
    header{
        padding: 40px 0px 90px 0px;
        max-height: 185px;
        border-radius: 0px 0px 20px 20px;
    }
    .skyhouse-logo{
        max-width: 97px;
        max-height: 55px;
        margin: auto;
    }
    nav{
        display: none;
    }
    /* section */
    section{
        margin-top: -50px;
        max-width: 90%;
    }
    h1{
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .hiding-image{
        display: none;
    }
    .helping-images{
        margin-bottom: 40px;
        gap: 10px;
        flex-wrap: wrap;
    }
    .helping-images img{
        max-width: 162px;
        max-height: 90px;
        object-fit: cover;
    }
    .hiding-p{
        display: none;
    }
    section button{
        width: 100%;
        padding: 20px 91px 20px 75px;
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 40px;
    }
    /* footer */
    footer{
        margin-top: 0px;
        padding: 30px 0px 40px 0px;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas: 
        ". h2 ."
        ". registration ."
        ". map ."
        ". cozy ."
        ". burger .";
    }
    footer p{
        display: none;
    }
    h2{
        font-size: 18px;
        grid-area: h2;
        margin-bottom: 40px;
    }
    .registration-side{
        grid-area: registration;
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    input, textarea{
        font-size: 13px;
        height: 21px;
        margin-top: 4px;    
    }
    .contact-side{
        grid-area: map;
        width: 100%;
    }
    footer button{
        max-width: 100%;
        width: 100%;
    }
    iframe{
        max-width: 100%;
        width: 100%;
        box-shadow: none;
        margin-bottom: 44px;
    }
    .footer-buttons{
        max-width: 100%;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .mobile img, .email img{
        background-color: white;
        padding: 0px;
        margin-right: 12px;
        width: 20px;
        height: 20px;
        padding: 3px;
        border-radius: 50%;
    }
    .mobile a, .email a{
        font-size: 13px;
        color: #FFFFFF;
    }
    .a-mobile{
        margin-right: 0px;
    }
    .ending{
        margin-top: 44px;
        padding-top: 50px;
        grid-area: cozy;
        display: flex;
        flex-direction: column-reverse;
    }
    .right-side{
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .made-with{
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
    .copyright{
        font-size: 13px;
    }
    .heart-logo{
        width: 20px;
        height: 17px;
        margin-left: 18px;
        margin-right: 14px;
    }
    .smartweb-icon{
        margin: 0px;
    }
    .brgr{
        grid-area: burger;
    }
    .brgr-menu{
        display: block;
        margin: auto;
        margin-top: 30px;
        grid-area: burger;
    }
}
/* the end */